@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    background-color: #ebebeb;
}

ul{
    text-align: left;
    margin:0;
    padding: 0;
}

li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.hashtags{
    font-size: .8rem;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#303030;
}

.contact-button{
    margin-left: auto; margin-right: 0;
}

a:link{
    color:black;
    text-decoration: none;
}

.container{
    margin: 3% 5% 1% 5%;
}

.wrapper{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
}

.grid-layout{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.grid-1{
    margin-right: 20px;
}

.grid-2{
    order: 1;
    margin-right: 20px;
}

.grid-3{
    margin-right: 20px;
}

.grid-4{
    margin-right: 20px;
}

.grid-5{
    margin-right: 20px;
    
}



/* Containers */
.content{
    margin: 0px 5% 0px 5%;
    padding: 0;
}

/* Display */
.d-inline{
    display: inline-flex;
}

/* Images */
.principalImgPost{
    max-width: 100%;
    border-radius: 7px;
}

.cover{
    object-fit: cover;
    width: 350px;
    border-radius: 7px;
}

/* Hyperlinks & Butons */
.buttonRedirect{
    background-color: #171717;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 8px 25px 8px 25px;
}

.buttonRedirect:hover{
    background-color: #F8F8F8;
    color: #171717;
}

.buttonRedirect a {
    background-color: #171717;
    color:white;
    text-decoration: none;
}



/* Text & Fonts */
h1{
    font-weight: bold;
    font-size: 3rem;
}

h4{
    font-size: 1rem;
    font-weight: bold;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

/* Form */
label{
    font-size: 1.3rem;
}

input{
    width: 400px;
    height: 25px;
}

/* Layout */
/* Margin */
.marginLeft-1{
    margin-left: 1rem;
}

.marginLeft-2{
    margin-left: 2rem;
}

.marginRight-1{
    margin-right: 1rem;
}

.marginRight-2{
    margin-right: 2rem;
}

.marginTop-1{
    margin-top: 1rem;
}

.marginTop-3{
    margin-top: 3rem;
}

.marginTop-4{
    margin-top: 4rem;
}

/* Widths */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




/* Only for build purpouses */
.border{
    border: .1px solid red;
}







/* Responsive */

@media (min-width: 260px) {
    h2{
        font-size: 1.5rem;
    }

    .contact-button{
        margin-left: 0px;
        margin-right: auto;
        display: none;
        padding: 0;
    }

    .contact-button-container{
        display: none;
    }

    li{
        font-size: 1rem;
        display: inline-flex;
        width: 40%;
        background-color: #171717;
        color:white;
        padding: 5px;
        margin: 3px 0 0 0;
    }

    .hashtags{
        color: white;
    }

    .grid-layout{
        display: grid;
        grid-template-columns: 100%;
    }

    /* Widths */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

@media (min-width: 375px) {
    
}

@media (min-width: 411px) {
    
}

@media (min-width: 768px) {
    li{
        list-style: none;
        display: inline;
        margin-right: 20px;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        color: #171717;
    }

    .hashtags{
        color: #303030;
    }

    .contact-button{
        display: inline-flex;
    }

    .contact-button-container{
        display: inline-flex;
    }

    .grid-layout{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* Widths */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media (min-width: 1366px) {
    .grid-layout{
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }
}

@media (min-width: 1920px) {
    
}